<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Requerido por Compose Multiplatform para animaciones a 120 Hz -->
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<!-- Documentos visibles en la app Archivos -->
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
</dict>
</plist>
